version: "3.9"

services:
  db:
    image: postgres:17.5
    container_name: app_db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME:-wallet_db}
      POSTGRES_USER: ${DB_USER:-wallet_user}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-djangogram_password}
      TZ: Asia/Tashkent
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER:-wallet_user} -d ${DB_NAME:-wallet_db}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: app_redis
    command: redis-server
    volumes:
    - redis-data:/data
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app_network
    restart: unless-stopped

  web:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: app_web
    command: docker/commands/web.sh
    volumes:
      - ..:/app
    ports:
      - "8000:8000"
    env_file:
    - .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app_network
    restart: unless-stopped

  celery:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: celery
    command: celery -A src.settings.external.celery worker --loglevel=info
    volumes:
      - ..:/app
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - web
    networks:
      - app_network

  celery-beat:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    container_name: celery_beat
    command: celery -A src.settings.external.celery beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - .env
    volumes:
      - ..:/app
    depends_on:
      - db
      - redis
      - web
    networks:
      - app_network

volumes:
  postgres_data:
  static_volume:
  redis-data:

networks:
  app_network:
    driver: bridge
